<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountToken</key>
	<data>
	ewoiQ2VydGlmaWNhdGVVUkwiID0gImh0dHBzOi8vYWxiZXJ0LmFwcGxlLmNvbS9kZXZp
	Y2VzZXJ2aWNlcy9jZXJ0aWZ5TWUiOwogICAgIkludGVybmF0aW9uYWxNb2JpbGVFcXVp
	cG1lbnRJZGVudGl0eSIgPSAiMzU1MzQ2MDgxNzI3NDYxIjsKICAgICJQaG9uZU51bWJl
	ck5vdGlmaWNhdGlvblVSTCIgPSAiaHR0cHM6Ly9hbGJlcnQuYXBwbGUuY29tL2Rldmlj
	ZXNlcnZpY2VzL3Bob25lSG9tZSI7CiAgICAiU2VyaWFsTnVtYmVyIiA9ICJGMkxUNTVD
	UUhHMDQiOwogICAgIlByb2R1Y3RUeXBlIiA9ICJpUGhvbmU5LDQiOwogICAgIlVuaXF1
	ZURldmljZUlEIiA9ICIxZjFhYzljNTk2MjVlMzZlNGI0YzhiYzk2ZjQyZGNiM2IzNWU1
	N2Y2IjsKICAgICJXaWxkY2FyZFRpY2tldCIgPSAiTUlJQ3FnSUJBVEFMQmdrcWhraUc5
	dzBCQVFzeGNKOC9ESk5CRUdrUkFLZ3krVGhKcFo5QUJHQUFBQUNmU3hSUWF6ZlVncmkr
	RmdkTG9aRUpYalE0aXpFY21KK0hiUWMxa21FR1dVaFJuNWM5REFBQUFBRHU3dTd1N3U3
	dTc1K1hQZ1FBQUFBQW41Yy9CQUVBQUFDZmwwQUVBUUFBQUorWFFRUUJBQUFBbjVkTUJB
	QUFBQUFFZ2dFQVNrT1RScE83ekdydjd6bEtmNGh3aGlJSE9qNFdDaDJXUDN6TlZ5eWNM
	QlZKS2FMbE1UWUxlQ1Y3WFF1TlFnU3pMNEFwRWlDVi9adjRnOHRBUUNMODIyNzBhR2hq
	QjRGWjBUbVJMNVk2NUp4MVpaZEtuekVRbnE1V1VJTkhDM3lXM25Dc3puSWZ2aGtqV2xW
	V253SDBCMG81Q2JNRzhDaUtYMGlsZ1UrU0ljS2FQZzdFTG42TkJZNldhbDZHT0JOU2d6
	UFRkcXhrVjRuSlIzZk1rQ2c5WmtVZC9nWjlubFFnWkt0UHhQSit4VHNXTzBUUEdUelVQ
	T3RDblJ6Qml3cm1jWEpkcE5UZnAxV2JlWDRPWDdWRjFEY2ZsK2twWUIyaUg0b2tMWk8v
	bHovN2tZTzhTbUlHd1ZwQkE3SnRrZEI0YnNkVjhqZ05COHh6WUdVSXZlYWJhNk9DQVNB
	d0N3WUpLb1pJaHZjTkFRRUJBNElCRHdBd2dnRUtBb0lCQVFDc2tVOUYyZHo4VHRXQnEy
	RDhBZHNxY1lTNTFINjZEeFptQ0hFdzZVOXAzZDh2amFFY0JkRjVWRndFVG1XSkJjVEpv
	L1NpUExlemRBbUc0MFJmQXN4ZzRzSW9rMENQaEtzVHAxbW9uMEpCcWFpNjhTZG1OMEwr
	QXNFYm1OSzRBampNWDZHTTV0N3c1bWRYcGdaeWlnUnRHUURuVjJQN0huT1pqNjlQUzly
	L0Q0UTUwQ0pOYUxyR0paMVVWQk5jS2tKTlRNRDJweHJIbnhkU0xUajUxeFZJVEJVNzFU
	ZGw3S2doU3NrUDhXYWdPT05rNkowSWNPQ3dJYVdjdDlBLytBc280eWs1L1BEaDFZVWhi
	VWlJTyt6MVRMNVRkaUhMSVRnYzhOWEhhZ0IveWlPRUV6T3gycGNaVlhYandmU1psS1JI
	ajY2VmxXVkhnVCtiRUhabDAvc2RBZ01CQUFFPSI7CiAgICAiQWN0aXZhdGlvblJhbmRv
	bW5lc3MiID0gIjNFQ0MzMEFFLTRCNDUtNDkwMy04MjQ4LUUwNEMyODE3MDIxOSI7CiAg
	ICAiQWN0aXZpdHlVUkwiID0gImh0dHBzOi8vYWxiZXJ0LmFwcGxlLmNvbS9kZXZpY2Vz
	ZXJ2aWNlcy9hY3Rpdml0eSI7Cn0=
	</data>
	<key>AccountTokenCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaekNDQWsrZ0F3SUJBZ0lCQWpB
	TkJna3Foa2lHOXcwQkFRVUZBREI1TVFzd0NRWURWUVFHRXdKVlV6RVQKTUJFR0ExVUVD
	aE1LUVhCd2JHVWdTVzVqTGpFbU1DUUdBMVVFQ3hNZFFYQndiR1VnUTJWeWRHbG1hV05o
	ZEdsdgpiaUJCZFhSb2IzSnBkSGt4TFRBckJnTlZCQU1USkVGd2NHeGxJR2xRYUc5dVpT
	QkRaWEowYVdacFkyRjBhVzl1CklFRjFkR2h2Y21sMGVUQWVGdzB3TnpBME1UWXlNalUx
	TURKYUZ3MHhOREEwTVRZeU1qVTFNREphTUZzeEN6QUoKQmdOVkJBWVRBbFZUTVJNd0VR
	WURWUVFLRXdwQmNIQnNaU0JKYm1NdU1SVXdFd1lEVlFRTEV3eEJjSEJzWlNCcApVR2h2
	Ym1VeElEQWVCZ05WQkFNVEYwRndjR3hsSUdsUWFHOXVaU0JCWTNScGRtRjBhVzl1TUlH
	Zk1BMEdDU3FHClNJYjNEUUVCQVFVQUE0R05BRENCaVFLQmdRREZBWHpSSW1Bcm1vaUhm
	YlMyb1BjcUFmYkV2MGQxams3R2JuWDcKKzRZVWx5SWZwcnpCVmRsbXoySkhZdjErMDRJ
	ekp0TDdjTDk3VUk3ZmswaTBPTVkwYWw4YStKUFFhNFVnNjExVApicUV0K25qQW1Ba2dl
	M0hYV0RCZEFYRDlNaGtDN1QvOW83N3pPUTFvbGk0Y1VkemxuWVdmem1XMFBkdU94dXZl
	CkFlWVk0d0lEQVFBQm80R2JNSUdZTUE0R0ExVWREd0VCL3dRRUF3SUhnREFNQmdOVkhS
	TUJBZjhFQWpBQU1CMEcKQTFVZERnUVdCQlNob05MK3Q3UnovcHNVYXEvTlBYTlBIKy9X
	bERBZkJnTlZIU01FR0RBV2dCVG5OQ291SXQ0NQpZR3UwbE01M2cyRXZNYUI4TlRBNEJn
	TlZIUjhFTVRBdk1DMmdLNkFwaGlkb2RIUndPaTh2ZDNkM0xtRndjR3hsCkxtTnZiUzlo
	Y0hCc1pXTmhMMmx3YUc5dVpTNWpjbXd3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQUY5
	cW1yVU4KZEErRlJPWUdQN3BXY1lUQUsrcEx5T2Y5ek9hRTdhZVZJODg1VjhZL0JLSGhs
	d0FvK3pFa2lPVTNGYkVQQ1M5Vgp0UzE4WkJjd0QvK2Q1WlFUTUZrbmhjVUp3ZFBxcWpu
	bTlMcVRmSC94NHB3OE9OSFJEenhIZHA5NmdPVjNBNCs4CmFia29BU2ZjWXF2SVJ5cFhu
	YnVyM2JSUmhUekFzNFZJTFM2alR5Rll5bVplU2V3dEJ1Ym1taWdvMWtDUWlaR2MKNzZj
	NWZlREF5SGIyYnpFcXR2eDNXcHJsanRTNDZRVDVDUjZZZWxpblpuaW8zMmpBelJZVHh0
	UzZyM0pzdlpEaQpKMDcrRUhjbWZHZHB4d2dPKzdidFcxcEZhcjBaakY5L2pZS0tuT1lO
	eXZDcndzemhhZmJTWXd6QUc1RUpvWEZCCjRkK3BpV0hVRGNQeHRjYz0KLS0tLS1FTkQg
	Q0VSVElGSUNBVEUtLS0tLQo=
	</data>
	<key>AccountTokenSignature</key>
	<data>
	reRkECifnBi3+kgYhbywky3Tc744HVeSsf03OoY2+5khlym0VT3mv9VK/Ml4owwTQ/Pl
	yBXKQO2ROOOvRIM8YZqlFbNpa9PHY7GfPZmVQLhbklaHHBSOl423zF1BBR+LNod6xq1b
	Oeqo19UCq14r6IbyQPubRcyrIMliobzno64=
	</data>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM4ekNDQWx5Z0F3SUJBZ0lLQkcv
	N0x0VFBCbkRmS1RBTkJna3Foa2lHOXcwQkFRVUZBREJhTVFzd0NRWUQKVlFRR0V3SlZV
	ekVUTUJFR0ExVUVDaE1LUVhCd2JHVWdTVzVqTGpFVk1CTUdBMVVFQ3hNTVFYQndiR1Vn
	YVZCbwpiMjVsTVI4d0hRWURWUVFERXhaQmNIQnNaU0JwVUdodmJtVWdSR1YyYVdObElF
	TkJNQjRYRFRJd01EZ3lOakExCk5URXdOVm9YRFRJek1EZ3lOakExTlRFd05Wb3dnWU14
	TFRBckJnTlZCQU1XSkRBMFF6azBSRGRDTFRjMU9UQXQKTkRZME1pMDVOak00TFRZek9E
	QTBSVUZFUmtOR05URUxNQWtHQTFVRUJoTUNWVk14Q3pBSkJnTlZCQWdUQWtOQgpNUkl3
	RUFZRFZRUUhFd2xEZFhCbGNuUnBibTh4RXpBUkJnTlZCQW9UQ2tGd2NHeGxJRWx1WXk0
	eER6QU5CZ05WCkJBc1RCbWxRYUc5dVpUQ0JuekFOQmdrcWhraUc5dzBCQVFFRkFBT0Jq
	UUF3Z1lrQ2dZRUFvcmFjWjQ1YTBGT3EKTnRjSzlGbVZoZXUwK1lMa3hwSGFyVFN1MDRn
	czB1bTFnUnR1NXR1bFkzcVJ2SWxFa1c1MVp1dlM5NmFHYXpvawpmMGlmNUhBLytVSUJx
	MmpzY1AzSHBpRGJ2UUhraEYxWUMzWlFnVzBuVjFEdVZoYU53TXhERnVxTFIxSnQreUlx
	CnlxalkvWkhjaG83TXF5RlpKTXJWZHd1NEM4WlJLck1DQXdFQUFhT0JsVENCa2pBZkJn
	TlZIU01FR0RBV2dCU3kKL2lFalJJYVZhbm5WZ1NhT2N4RFlwMHlPZERBZEJnTlZIUTRF
	RmdRVTNLOFIxRGtHdGRiUU9Xc2hxbkxSeWdoSApzYjB3REFZRFZSMFRBUUgvQkFJd0FE
	QU9CZ05WSFE4QkFmOEVCQU1DQmFBd0lBWURWUjBsQVFIL0JCWXdGQVlJCkt3WUJCUVVI
	QXdFR0NDc0dBUVVGQndNQ01CQUdDaXFHU0liM1kyUUdDZ0lFQWdVQU1BMEdDU3FHU0li
	M0RRRUIKQlFVQUE0R0JBTFdzaFhkVzJaVHZEcDJmZm9uOFRtRkdXczBkMVlscGtvblJp
	aEhqQ3NWbUpnNExyWHAxakdNMApueW5NSlRCVW9kbDl5M21XdkpGbDkycUdwdE45VExn
	NzBvTjNLb3NwekJJaFd3WUg1NnN1dTd1eng4YXVONUsrCjFjbVAyWStiN0c1TXRnVThO
	YkNkUmtia0k2SlA3akhhWUpUV3ZXenB3dnIweCs2YjdCTEEKLS0tLS1FTkQgQ0VSVElG
	SUNBVEUtLS0tLQo=
	</data>
	<key>DeviceConfigurationFlags</key>
	<string>0</string>
	<key>FairPlayKeyData</key>
	<data>
	LS0tLS1CRUdJTiBDT05UQUlORVItLS0tLQpBQUVBQWVBTVZ0dENpT2svMTJxc0FTRHdh
	Tlp1bk56WEdvcUFDU3pZS1dLemdhUStKbERCU0VVRmduQ2lZOWhDCjZEbHREeFR0V3Rj
	M0EyeTFQOW9MYkNHRm9zWlByKy9sZjRzQUdJRnlsS2x4eXZTekhaV2k4R05jZlNPQUZ2
	ZzUKY3BzRGpPZVU0dnlvb2pXZXVIOUhhZVNNYXI5eGdBdE9PWk0xVmlwVElmenFSVGVk
	by9IQzE0aXRqWmxnMURSRQpWS0Y0bXhqVjNwU1lOL09tWFV0UXVJRG9jUG1pYjdJcGkv
	a1pWS1dMU0ZrV2R2SC8rdU5TWG5aY1NaMXdyaktRCnBkZzlhRGFBUk5ERUhqTDN4L0dn
	WFhWZnlBK1ZjZm5hNXBwNEQzV2JDdUhyNUVYckRKeldwTmRiK1dyelhaUGMKSy9Ib1lR
	Y0JFbklsajBETmNJbU95dUhJQkZzZWdVYnRWWWFKNE8vTFRTdS80OVNlaHJqRUhvKzBo
	VlhaVkoxRQpXSUxnclhRTGF6dmF0UmJWTkU5SWdUWWhTSS9aWE1Hajg1Z0xhNFQ0ZGpx
	UUpZRkc2Z2I2MTlaaHdBUGtoc3ArCjBmQlQzVWFFNjNpRG94VGc2Mjk0eWRWa2xlaURU
	bEUvV2x1alVoaHU4c0VheUhWcDlHNjhGZlNGWGVJb2VuTWIKTXBzZHpRNU9iTlBBTUJt
	MFN2OW15OUtXMXoxQUdMbGRxTlA4SFhiQWxwMTB5RWFHYjBvMDRCRzVwSmorQmRSQQp1
	VktUUTU3VEVWclViNkprekpHY3p2bnI2SXhKcVV3NUp3RHFWYUhPS1ZXeHY1RnZZakp3
	OCtCa3Y0d29IalFYCjFOTE5yY2NOdFNhRHV3MkZmRFp3RjJhVDdDbHA4WXpFNjl6Nlo1
	K0UyQ2ZmUFZPMktRT3dQYXArYitjaENOOWYKY3MwcmxiT1ZHUlhuWDJCRjdwYSttS1Jy
	QWpQT3RtWEdUcE5rTDJpWFNlZlMzcWMrMEZLUno0cWpQVVJQZGhJbgpQVUtZNndOVWoz
	T3JBZzZXY2ZuekNNbXdJWGxGbUJOaVhiZHlUejNxR3F0OEVkQm5mdGZLRW9tRmJ5WEtG
	UzNPCmpYZ01RZ1Q0Mk1VQmdrajhIUWRwOEZTRkNTN3FNY1RwekxIMXNuQXRiZC9vdmxG
	M2NLZjFPYnlTMklnOHZtbVoKMkVRblpjOGhlc1dPc2dxakRFcUtmdTRBU0txeVhYZG9w
	cHUrU2k4dUFoaWlSSnFSV28vd1ZOS01TODZYVFVOMgpmYmNEd0FSL2s1Rzh0ZG56Z2FZ
	VlRJN2RpMGEwTmxFQk1NSkp4T1NzeXNzazA1YWloSUFKYmpqRExvcFM1bDFCCmthc1Qy
	YVdDNEl6Nlc1bnZGSm9JUG90R3YrZmxTSUM3WTNxZlFDcjlMT2Nxa2F5clN0cVNZV0pi
	OFBLTXFKeGcKZEFnNzZ4dGoyVENiT2ora2VDcStXeWNUT0lvY3F6NU1Dd1YwcEdMY0xu
	akI1TXVoakNWVFVsdkRWb2wxZkpxTwpDRWtISVNOVTlHbWpqQXh0czROVGpTMEU0bjZX
	Tmc0dFRJNzJOVGdITVJiNk5JajVqak9TZmtkVVk0UEk0WnNrCmFTaDhVYitXbG9MTFI2
	UnFnYzNLU1dBMTJpWTEwZk92WHdRRkJsTkpjUm13amZjUmpnenBvMUtPNHl4bmswMXMK
	aCtYVFd0dmJiVUp2Nld2TE11dUR4enpHd0xDSjdzTnJjVmtaNVRURk1jK3o1cURwdUxR
	a3FZdG1VRmN2QzFUUQpYZkd0ZWJ5VDBMSlcxSThzeVVvSTY3bVZEaHpTbEtGSTkwUk9D
	ckQzSmhRTW1qUkhQbVlsa3d6bjB5WDBwYjZaClVHNzZFUGs5c3orKzc1VWdsSWdXMzNi
	cFhSckRDZDVoQVRzQ2N4RXNqVWVUYWZ2ME1tS0RrWjFLVGhQVjJ2WXoKMnVqUks1TjhL
	Q2NKbWZCd0tJWjlEblZkT0tPbUlIQzR6YVBldEwxcGFSd0VxZXI1Ci0tLS0tRU5EIENP
	TlRBSU5FUi0tLS0tCg==
	</data>
	<key>unbrick</key>
	<true/>
</dict>
</plist>
